footer {
    max-width: 600px;
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo {
    margin: 20px;
    align-self: flex-start;
}
.foot-nav {
    margin: 20px;
}
i {
    font-size: 20px;
    background: #000000;
    max-width: 95px;
    width: 100%;
    min-height: 15px;
    margin: 20px;
}