footer {
    max-width: 600px;
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logo {
    margin: 20px;
    align-self: flex-start;
}
.foot-nav {
    margin: 20px;
}/*
li {
    display: inline;
    margin: 20px;
}
.social-icon {
    display: inline;
    margin: 20px;
}*/