body {
    max-width: 1360px;
    width: 100%;
}
header {
    width: 100%;
    min-height: 23px;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: 20px;
    align-self: flex-start;
}
.top-nava {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
}
.navi {
    max-width: 600px;
    margin: 20px;
}
li {
    display: inline;
    margin: 20px;
}