header {
  max-width: 1110px;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top-nava > a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  text-decoration: none;
}

.top-nava > a:hover {
  color: #4A4FF2;
  text-decoration: underline;
}

.navi {
  max-width: 600px;
  margin: 20px;
}

li {
  display: inline;
  margin: 20px;
}

/*footer {
    max-width: 1110px;
    width: 100%;
    /*min-height: 23px;*/
/* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo {
    margin: 20px;
    align-self: flex-start;
}
.foot-nav {
    margin: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nava>a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
    max-width: 66px;
    min-height: 23px;
    display: inline;
    text-decoration: none;
}
i {
    font-size: 20px;
    color: #000000;
    max-width: 95px;
    width: 100%;
    min-height: 15px;
    margin: 10px;
}*/
.footer {
  max-width: 1110px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
  /*border-top: 1px solid black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav--footer {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav--footer--left {
  margin-top: 20px;
}

.nav--footer--right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
}

.nav__list--footer {
  width: 100%;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__link--footer > a {
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 30px;
  font-family: "Mulish";
}

.nav__link--footer > a:hover {
  color: #4A4FF2;
  text-decoration: underline;
}

.logo--footer {
  max-width: 90px;
  width: 100%;
}

.social--footer {
  max-width: 95px;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1110px;
  width: 100%;
  margin-top: 50px;
}

h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #111111;
  max-width: 475px;
  width: 100%;
  min-height: 174px;
}

/*.info-group {
    max-width: 500px;
    width: 100%;
}*/
p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 445px;
  width: 100%;
  min-height: 56px;
}

form {
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 50px;
}

input {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-bottom: 1px solid black;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin: 20px;
}

input:hover {
  background-color: grey;
  color: black;
}

button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  width: 125px;
  background: #4A4FF2;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border: none;
  margin: 20px;
}

button:hover {
  background-color: grey;
  color: black;
}

.map {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 50px;
  max-width: 1110px;
  width: 100%;
}