body {
  max-width: 1360px;
  width: 100%;
}

header {
  width: 100%;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navi {
  max-width: 600px;
  margin: 20px;
}

li {
  display: inline;
  margin: 20px;
}

footer {
  width: 100%;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.foot-nav {
  max-width: 600px;
  margin: 20px;
}

li {
  display: inline;
  margin: 20px;
}

.social-icon {
  display: inline;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.div-1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h6 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}

.info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #111111;
  height: 191px;
  width: 635px;
}

.p.r {
  color: #4A4FF2;
}

.quote-1 {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  /*border-top: 1px solid black;*/
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.img-bunch-1 {
  max-width: 600px;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-rows: repeat(19, 1fr);
  grid-gap: 15px;
  margin-left: 125px;
  margin-right: 125px;
}

.img-bunch-1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(19) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(20) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(21) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(22) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(23) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(24) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(25) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(26) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(27) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(28) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(29) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(30) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(31) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(32) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(33) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(34) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(35) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(36) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(37) {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(38) {
  -ms-grid-row: 25;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(39) {
  -ms-grid-row: 25;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(40) {
  -ms-grid-row: 27;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(41) {
  -ms-grid-row: 27;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(42) {
  -ms-grid-row: 27;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(43) {
  -ms-grid-row: 29;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(44) {
  -ms-grid-row: 29;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(45) {
  -ms-grid-row: 29;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(46) {
  -ms-grid-row: 31;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(47) {
  -ms-grid-row: 31;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(48) {
  -ms-grid-row: 31;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(49) {
  -ms-grid-row: 33;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(50) {
  -ms-grid-row: 33;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(51) {
  -ms-grid-row: 33;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(52) {
  -ms-grid-row: 35;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(53) {
  -ms-grid-row: 35;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(54) {
  -ms-grid-row: 35;
  -ms-grid-column: 5;
}

.img-bunch-1 > *:nth-child(55) {
  -ms-grid-row: 37;
  -ms-grid-column: 1;
}

.img-bunch-1 > *:nth-child(56) {
  -ms-grid-row: 37;
  -ms-grid-column: 3;
}

.img-bunch-1 > *:nth-child(57) {
  -ms-grid-row: 37;
  -ms-grid-column: 5;
}

.img-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

.img-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-row-span: 4;
  grid-row-end: 9;
}

.img-3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-row-span: 3;
  grid-row-end: 10;
}

.img-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 14;
      grid-row-start: 14;
  -ms-grid-row-span: 5;
  grid-row-end: 19;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.info-2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
  max-width: 650px;
  width: 100%;
  height: 106px;
}

.list-2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  height: 106px;
  width: 350px;
  margin: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.div-3 {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 15px;
  border-top: 1px solid black;
  margin: 30px;
}

.div-3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(73) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(74) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(75) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(76) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(77) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(78) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(79) {
  -ms-grid-row: 13;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(80) {
  -ms-grid-row: 13;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(81) {
  -ms-grid-row: 13;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(82) {
  -ms-grid-row: 13;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(83) {
  -ms-grid-row: 13;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(84) {
  -ms-grid-row: 13;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(85) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(86) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(87) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(88) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(89) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(90) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(91) {
  -ms-grid-row: 15;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(92) {
  -ms-grid-row: 15;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(93) {
  -ms-grid-row: 15;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(94) {
  -ms-grid-row: 15;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(95) {
  -ms-grid-row: 15;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(96) {
  -ms-grid-row: 15;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(97) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(98) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(99) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(100) {
  -ms-grid-row: 17;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(101) {
  -ms-grid-row: 17;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(102) {
  -ms-grid-row: 17;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(103) {
  -ms-grid-row: 17;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(104) {
  -ms-grid-row: 17;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(105) {
  -ms-grid-row: 17;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(106) {
  -ms-grid-row: 17;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(107) {
  -ms-grid-row: 17;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(108) {
  -ms-grid-row: 17;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(109) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(110) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(111) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(112) {
  -ms-grid-row: 19;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(113) {
  -ms-grid-row: 19;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(114) {
  -ms-grid-row: 19;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(115) {
  -ms-grid-row: 19;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(116) {
  -ms-grid-row: 19;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(117) {
  -ms-grid-row: 19;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(118) {
  -ms-grid-row: 19;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(119) {
  -ms-grid-row: 19;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(120) {
  -ms-grid-row: 19;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(121) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(122) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(123) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(124) {
  -ms-grid-row: 21;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(125) {
  -ms-grid-row: 21;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(126) {
  -ms-grid-row: 21;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(127) {
  -ms-grid-row: 21;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(128) {
  -ms-grid-row: 21;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(129) {
  -ms-grid-row: 21;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(130) {
  -ms-grid-row: 21;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(131) {
  -ms-grid-row: 21;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(132) {
  -ms-grid-row: 21;
  -ms-grid-column: 23;
}

.div-3 > *:nth-child(133) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.div-3 > *:nth-child(134) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.div-3 > *:nth-child(135) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.div-3 > *:nth-child(136) {
  -ms-grid-row: 23;
  -ms-grid-column: 7;
}

.div-3 > *:nth-child(137) {
  -ms-grid-row: 23;
  -ms-grid-column: 9;
}

.div-3 > *:nth-child(138) {
  -ms-grid-row: 23;
  -ms-grid-column: 11;
}

.div-3 > *:nth-child(139) {
  -ms-grid-row: 23;
  -ms-grid-column: 13;
}

.div-3 > *:nth-child(140) {
  -ms-grid-row: 23;
  -ms-grid-column: 15;
}

.div-3 > *:nth-child(141) {
  -ms-grid-row: 23;
  -ms-grid-column: 17;
}

.div-3 > *:nth-child(142) {
  -ms-grid-row: 23;
  -ms-grid-column: 19;
}

.div-3 > *:nth-child(143) {
  -ms-grid-row: 23;
  -ms-grid-column: 21;
}

.div-3 > *:nth-child(144) {
  -ms-grid-row: 23;
  -ms-grid-column: 23;
}

.res-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.res-2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.res-3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.res-4 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.res-5 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  -ms-grid-column-span: 1;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
}

.res-6 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.res-7 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.res-8 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 10;
      grid-row-start: 10;
  -ms-grid-row-span: 2;
  grid-row-end: 12;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.res-9 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  -ms-grid-column-span: 1;
  grid-column-end: 12;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
}

.div-4 {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 30px;
}

.div-4 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(73) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(74) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(75) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(76) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(77) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(78) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(79) {
  -ms-grid-row: 13;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(80) {
  -ms-grid-row: 13;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(81) {
  -ms-grid-row: 13;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(82) {
  -ms-grid-row: 13;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(83) {
  -ms-grid-row: 13;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(84) {
  -ms-grid-row: 13;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(85) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(86) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(87) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(88) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(89) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(90) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(91) {
  -ms-grid-row: 15;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(92) {
  -ms-grid-row: 15;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(93) {
  -ms-grid-row: 15;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(94) {
  -ms-grid-row: 15;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(95) {
  -ms-grid-row: 15;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(96) {
  -ms-grid-row: 15;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(97) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(98) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(99) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(100) {
  -ms-grid-row: 17;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(101) {
  -ms-grid-row: 17;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(102) {
  -ms-grid-row: 17;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(103) {
  -ms-grid-row: 17;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(104) {
  -ms-grid-row: 17;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(105) {
  -ms-grid-row: 17;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(106) {
  -ms-grid-row: 17;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(107) {
  -ms-grid-row: 17;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(108) {
  -ms-grid-row: 17;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(109) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(110) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(111) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(112) {
  -ms-grid-row: 19;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(113) {
  -ms-grid-row: 19;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(114) {
  -ms-grid-row: 19;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(115) {
  -ms-grid-row: 19;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(116) {
  -ms-grid-row: 19;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(117) {
  -ms-grid-row: 19;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(118) {
  -ms-grid-row: 19;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(119) {
  -ms-grid-row: 19;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(120) {
  -ms-grid-row: 19;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(121) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(122) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(123) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(124) {
  -ms-grid-row: 21;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(125) {
  -ms-grid-row: 21;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(126) {
  -ms-grid-row: 21;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(127) {
  -ms-grid-row: 21;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(128) {
  -ms-grid-row: 21;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(129) {
  -ms-grid-row: 21;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(130) {
  -ms-grid-row: 21;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(131) {
  -ms-grid-row: 21;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(132) {
  -ms-grid-row: 21;
  -ms-grid-column: 23;
}

.div-4 > *:nth-child(133) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.div-4 > *:nth-child(134) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.div-4 > *:nth-child(135) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.div-4 > *:nth-child(136) {
  -ms-grid-row: 23;
  -ms-grid-column: 7;
}

.div-4 > *:nth-child(137) {
  -ms-grid-row: 23;
  -ms-grid-column: 9;
}

.div-4 > *:nth-child(138) {
  -ms-grid-row: 23;
  -ms-grid-column: 11;
}

.div-4 > *:nth-child(139) {
  -ms-grid-row: 23;
  -ms-grid-column: 13;
}

.div-4 > *:nth-child(140) {
  -ms-grid-row: 23;
  -ms-grid-column: 15;
}

.div-4 > *:nth-child(141) {
  -ms-grid-row: 23;
  -ms-grid-column: 17;
}

.div-4 > *:nth-child(142) {
  -ms-grid-row: 23;
  -ms-grid-column: 19;
}

.div-4 > *:nth-child(143) {
  -ms-grid-row: 23;
  -ms-grid-column: 21;
}

.div-4 > *:nth-child(144) {
  -ms-grid-row: 23;
  -ms-grid-column: 23;
}

.res-10 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.res-11 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.res-12 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.res-13 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.res-14 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  -ms-grid-column-span: 1;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
}

.res-15 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.res-16 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.res-17 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 10;
      grid-row-start: 10;
  -ms-grid-row-span: 2;
  grid-row-end: 12;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.res-18 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  -ms-grid-column-span: 1;
  grid-column-end: 12;
  -ms-grid-row: 9;
      grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #111111;
}