body {
  max-width: 1360px;
  width: 100%;
}

header {
  width: 100%;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top-nava {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
}

.navi {
  max-width: 600px;
  margin: 20px;
}

li {
  display: inline;
  margin: 20px;
}

footer {
  max-width: 1110px;
  width: 100%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin: 20px;
}

.foot-nav {
  margin: 20px;
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nava {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  max-width: 66px;
  min-height: 23px;
  display: inline;
}

i {
  font-size: 18px;
  background: #000000;
  max-width: 95px;
  width: 100%;
  min-height: 15px;
  margin: 10px;
}

.div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #111111;
  min-height: 130px;
  max-width: 495px;
  width: 100%;
  margin: 20px;
}

.p-1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
  min-height: 100px;
  max-width: 635px;
  width: 100%;
  margin: 20px;
}

.list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 335px;
  width: 100%;
  min-height: 343px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 20px;
}

.a1-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.walking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}